<!DOCTYPE html>
<html lang="{{locale-min}}">
<head>
	<title>{{localization.action}} - SimpLight WebServer</title>
    <link rel="stylesheet" type="text/css" href="/thirdparty/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/thirdparty/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/toggle-switch.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />{{#action}}<link rel="stylesheet" type="text/css" href="/css/{{action}}.css" />{{/action}}
    {{#action-history}}
    <link rel="stylesheet" type="text/css" href="/thirdparty/dygraph/dygraph.min.css" />
    <link rel="stylesheet" type="text/css" href="/thirdparty/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="/thirdparty/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/channelTree.css" />
    <link rel="stylesheet" type="text/css" href="/css/split.js.css" />
    {{/action-history}}
	<meta charset="utf-8"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
