div.main-container {
    background: dodgerblue;
    padding-top: 1rem;
}

body {
    background: dodgerblue;
}

.progress-bar-load {
	display: none;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo-title {
    vertical-align: middle;
    margin: 0 .4rem;
    font-size: 1.25rem;
    color: rgba(0,0,0,.9);
}

.dropdown-chevron-less::after {
    display: none;
}

.sticky-top-downy {
  z-index: 920;
}

.dropdown-menu {
    z-index: 910;
}